div p.categorytext {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}
.event-card {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.event-image img {
    /*width: 100%;*/
    height: auto;
}

.event-details {
    padding: 16px;
}
.event-modal .ant-modal-content {
    background-color: transparent;
    box-shadow: none;
}
.event-detail-modal {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.modal-image img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.modal-details {
    padding: 20px;
    background-color: white;
    height: 50vh;
    overflow-y: auto;
}
.categorytext {
    font-style: italic;
    color: gray;
}
.ant-modal-centered .ant-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}