.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #948F88;
  color: white;
}
.App-header h2 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.add-event-button,
.back-button {
  background-color: #605C4E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.add-event-button:hover {
  background-color: #363020;
}
.event-row {
  display: flex;
  margin: 10px 0;
}
.event-card {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  margin-left: 5%;
  background-color: #fff;
}
.event-image {
  flex: 1;
}
.event-image img {
  width: 100%;
  object-fit: cover;
}
.event-details {
  flex: 2;
  padding-left: 20px;
}
.event-details h4 {
  margin: 0;
}